{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Pong Game</title>
    <link rel="icon" href="{% static 'images/new_icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static './home.css' %}" />  
</head>
<body>
    <div class="navbar">
        <a href="# " id = "homeId">
            <img alt="HOME" src="{% static '/images/icons8-home-20.png' %}" /><span id="homeLink">HOME</span>
        <a href="/profile" id = profileId>
            <img alt="PROFILE" src="{% static '/images/icons8-customer-20.png' %}" /> <span id="profileLink">PROFILE</span>
        </a>
        <div class="dropdown-content" id="dropdownContent">
            <select name="language" id="languageSelect">
                <option value="en">English</option>
                <option value="hy">Armenian</option>
                <option value="ru">Russian</option>
                <option value="cn">Chinese</option>
            </select>
        </div>
            <img class="profile-icon" alt="Profile Picture" id="profileImage" src="" />
            <div class="menu" id="menu">
                <a href="/settings" class="settings" id="settingsId">SETTINGS</a>
                <a href="/" class="logout" id="logoutId">LOG OUT</a>
            </div>
    </div>
    <div class="container">
        <div class="image-container">
            <img src="{% static 'images/section@2x.png' %}" alt="Pong Game Image">
        </div>
        <div class="content">
            <h1 class="header" id="howToPlayHeader">HOW TO PLAY ?</h1>
            <p class="text" id="howToPlayText">A small ball moves across the screen, bouncing off the top and
                bottom ledges, and the two players each control a pad, sliding it
                vertically between the ends of the screen using the controls. If
                the ball hits the pad, it bounces back to the other player. If it
                misses the pad, the other player scores a point. The ball bounces
                in different ways depending on how it hits the pad.</p>
            <div class="buttons">
                <a href="/local_game">
                    <div class="button" id="playButton">Play</div>
                </a>
            </div>
        </div>
    </div>
    <script src="{% static './home.js' %}"></script>
</body>
</html>