{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Match History - Pong Game</title>
        <link rel="icon" href="{% static 'images/new_icon.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{% static 'match_history.css' %}"/>
    </head>
    <body>
        <div class="navbar">
            <a href="/home" id="homeId">
                <img alt="HOME" src="{% static 'images/icons8-home-20.png' %}" /> <span id="homeheader">HOME</span>
            </a>
            <a href="/profile" id="profileId">
                <img alt="PROFILE" src="{% static 'images/icons8-customer-20.png' %}" /> <span id="profile">PROFILE</span>
            </a>
            <img class="profile-icon" alt="Profile Picture" id="profileImage" src="" />
            <div class="menu" id="menu">
                <a href="/settings" class="settings" id="settingsId">SETTINGS</a>
                <a href="/" class="logout" id="logoutId">LOG OUT</a>
            </div>
        </div>
        <div class="container">
            <h1 id="header">Match History</h1>
            <table id="matchHistoryTable">
                <thead>
                    <tr>
                        <th>Player List</th>
                        <th>Points</th>
                        <th>Date</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <script src="{% static 'match_history.js' %}"></script>
    </body>
</html>
