body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #283048, #859398);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.content {
    text-align: center;
}

.header {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.text {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #bfbfbf;
}


/* Input group styles */
.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 91%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s;
}

.input-group input:focus {
    outline: none;
    border-color: #fb8c42; /* Orange border color on focus */
}

/* Password group styles */
.password-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666; /* Gray eye icon color */
    font-size: 1.3em;
}

/* Buttons styles */
.buttons {
    text-align: center;
}

.button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fb8c42; /* Orange button background */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-bottom: 10px;
}

.button1 {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-bottom: 10px;
    background-color: #1abc9c; /* Green button background */
}