/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

/* Navbar styles */
.navbar {
    background-color: #283048;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.navbar a img {
    margin-right: 5px;
}

.dropdown-content {
    position: relative;
}

#languageSelect {
    background-color: #fff;
    color: #333;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    overflow: hidden; /* Ensure content doesn't overflow */
    display: flex;
}

.image-container {
    flex: 1;
    padding: 30px;
    background-color: #1abc9c;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.content {
    flex: 1;
    padding: 30px;
}

.header {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.text {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
}

.buttons {
    margin-top: 20px;
}

.button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fb8c42;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.button:hover {
    background-color: #e7843a;
}
