body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(
        rgba(196, 196, 196, 0.38),
        rgba(196, 196, 196, 0.38)
    ),
    radial-gradient(
        50% 50%at 50% 50%,
        #1e6a45,
        rgba(68, 118, 103, 0.04),
        rgba(1, 10, 7, 0.88) 0.01%,
        #7fd883 0.02%,
        #053527 0.03%,
        #549158 0.04%,
        #17523b,
        #124a35
    );
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.navbar {
    position: absolute;
    top: 45px;
    right: 45px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    padding: 100px;
    background: rgba(68, 118, 103, 0.04);
    border-radius: 10px;
}

.image-container {
    flex: 0 0 50%;
    margin-right: 45px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: transform 3s;
    transition: filter 0.5s;
}

.image-container img {
    width: 100%;
    display: block;
    transition: transform 0.5s;
    max-width: 100%;
    height: auto;
    max-height: 500px; /* Set maximum height for the image */
}

.image-container:hover img {
    transform: scale(1.1);
    filter: brightness(70%);
    transition: 0.5s;
}

.content {
    flex: 1;
    text-align: center;
    font-kerning: auto;
}

.header {
    font-size: 4em;
    margin-bottom: 20px;
}

.text {
    font-size: 2em;
    line-height: 2;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.buttons a {
    text-decoration: none;
}

.button {
    padding: 15px 40px;
    font-size: 1.7em;
    background-color: #07382a;
    color: aliceblue;
    text-decoration: none;
    border-radius: 50px;
    margin: 0 25px;
    transition: background-color 0.3s;
    width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border: 2px solid white;
    box-sizing: border-box;
    margin-top: 40px;
}

.button:hover {
    background-color: #397262;
}

.or {
    font-size: 2.1em;
    margin: 55px 0;
    color: #fb8c42;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .content {
        text-align: center;
    }

    .buttons {
        flex-direction: column;
    }

    .button {
        width: 100%;
        margin: 10px 0;
    }
}