/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #283048, #859398);
    color: #333;
}

/* Navbar styles */
.navbar {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar .image-wrapper img {
    width: 30px;
    height: 30px;
}

.dropdown-content {
    position: relative;
}

.content {   
    margin-bottom: 35px;
}

#languageSelect {
    background-color: #fff;
    color: #333;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

/* Container styles */
.container {
    max-width: 1001px;
    margin: 135px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    overflow: hidden; /* Ensure content doesn't overflow */
    display: flex;
}

.image-container {
    flex: 1;
    padding: 0;
    position: relative; /* Ensure relative positioning for absolute content */
    overflow: hidden; 
}

.image-container img {
    width: 100%; /* Stretch image to fill container width */
    height: 100%; /* Stretch image to fill container height */
    object-fit: cover; /* Cover entire container, maintaining aspect ratio */
    position: absolute; /* Position image absolutely within container */
    top: 0;
    left: 0;
}

.content {
    flex: 1;
    padding: 30px;
}

.header {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.text {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
}

.buttons {
    margin-top: 20px;
}

.button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fb8c42;
    color: #fff;
    border: none;
    width: 90%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.button:hover {
    background-color: #e7843a;
}

.or {
    display: block;
    text-align: center;
    margin: 20px 0;
    color: #999;
}
