body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(
        rgba(196, 196, 196, 0.38),
        rgba(196, 196, 196, 0.38)
    ),
        radial-gradient(
            50% 50%at 50% 50%,
            #1e6a45,
            rgba(68, 118, 103, 0.04),
            rgba(1, 10, 7, 0.88) 0.01%,
            #7fd883 0.02%,
            #053527 0.03%,
            #549158 0.04%,
            #17523b,
            #124a35
        );
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.navbar {
    position: absolute;
    top: 0;
    left: 15px; /* Changed to 0 */
    right: 0; /* Added */
    margin: 0 auto; /* Center the navbar */
    display: flex;
    align-items: center;
    z-index: 1000;
}
  
.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
    margin-top: 20px;
    position: relative;
    font-size: 1.5em;
    transition: color 0.3s;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px; /* Adjust the distance from the text */
    transform: translateY(-50%);
    height: 70%; /* Adjust the height of the line */
    width: 1px;
}

.navbar a:hover {
    color: rgb(6, 225, 225);
    transform: scale(1.1);
    filter: brightness(100%);
    transition: 0.5s;
}
  
.profile-icon {
    width: 65px;
    height: 65px;
    right: 60px;
    background-color: #07382a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; /* Align to the right */
    margin-right: 20px; /* Added margin for spacing */
    margin-top: 30px;
    position: relative;
    cursor: pointer;
}

.profile-icon:hover .menu {
    display: block;
}

.menu {
    display: none;
    position: absolute;
    top: 95px;
    right: 30px;
    background-color:rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    min-width: 170px;
    height: 70px;
    letter-spacing: 1.7px;
    line-height: 25px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    border: 2px solid white;
}
  
.menu a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    transition: background-color 0.3s;
    margin-top: 0;
    text-align: center;
    font-size: medium;
    border-radius: 25px;
}
  
.menu a:hover {
    background-color: rgba(205, 213, 204, 0.788);
    border-radius: 25px;
    transform: scale(1.0);
}
  
.menu a.settings:hover {
    color: #053527; 
}
  
.menu a.logout:hover {
    color: #960000;
}
  
.container {
    max-width: 700px;
    height: 700px;
    width: 100%;
    padding: 40px;
    border-radius: 25px;
    text-align: center;
}

.header {
    font-size: 2.7em;
    margin-bottom: 20px;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 3px;
}
  
.tournaments-list-container {
    margin-top: 40px;
    text-align: left;
    display: inline-block;
    width: 500px; /* Make it narrower */
    vertical-align: top;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tab-button {
    flex-grow: 1;
    padding: 10px;
    background-color: #444343;
    border: none;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.tab-button.active {
    background-color: #1e6a45;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.users-list, .friend-request {
    max-height: 400px;
    overflow-y: auto; /* Enable scrolling */
}

.friend, .friend-request {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #444343;
    margin-bottom: 5px;
    border-radius: 5px;
    border-radius: 8px;
}

.friend-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-info {
  flex-grow: 1;  
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

.friend-username {
    display: block;
    font-weight: bold;
    font-size: 1.3em;
}

.friend-points, .accept-button, .decline-button {
    display: block;
    color: #ccc;
}

.accept-button, .invite-button {
    padding: 5px 10px;
    background-color: #1e6a45;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1.2em;
    width: 100px;
}

.decline-button {
    padding: 5px 10px;
    background-color: #960000;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1.2em;
    width: 100px;
}

.accept-button:hover:hover, .invite-button:hover {
    background-color: #164b31;
}

.decline-button:hover {
    background-color: #740e0e;
}

/*for tournament tab */
.tournament-join {
    text-align: center;
}

.join-tournament-button, .start-tournament-button {
    padding: 10px 20px;
    background-color: #1e6a45;
    color: white;
    border: none;
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
    font-size: 1.3em;
    margin-top: 20px;
}

.join-tournament-button:hover, .start-tournament-button:hover {
    background-color: #164b31;
}

.tournament-users {
    margin-top: 20px;
    text-align: start;
}

#tournamentUserList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.tournament-user {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #444343;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
}

.tournament-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.tournament-user span {
    font-size: 1.2em;
    color: white;
}

/* Styles for the modal form */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 75px;
}

.modal-content {
    background-color: rgb(58, 75, 70);
    margin: 5% auto;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid white;
    width: 80%;
    max-width: 420px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style the input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgb(22, 22, 22);
    cursor: pointer;
    font-weight: 500;
    color: white;
    box-sizing: border-box;
    font-size: 20px;
}

.submit-info {
    width: 100%;
    font-weight: bold;
    background-color: #fb8c42; 
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

.submit-info:hover {
    background-color: #db7939;
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 600px) {
    .tournaments-list-container {
        padding: 20px;
        width: 100%;
    }

    .tab-button {
        font-size: 1.2em;
        padding: 8px;
    }

    .join-tournament-button, .invite-button {
        font-size: 1.2em;
        padding: 8px 16px;
    }

    .accept-button, .decline-button {
        font-size: 1.1em;
        padding: 8px 16px;
    }

    #tournamentUserList {
        flex-direction: column;
        align-items: center;
    }

    .tournament-user {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    /* Adjustments for smaller screens */
    .container {
        padding: 50px; /* Reduce padding */
        height: auto; /* Allow height to adjust */
    }
    .navbar {
        font-size: 0.8em; /* Decrease font size */
    }
    .profile-icon {
        width: 50px;
        height: 50px;
    }
    .friend-username {
        font-size: 1.1em;
    }   
}